<!--
    ==========================================================================
    FundsXpert

     Graphical User Interface Programming II
     Professor Jessie Heines
     Michael Meding & Jose Flores
     2015-02-12

     This file is the dynamically loaded delete modal. It allows for the
     confirmation of a delete action.
    ==========================================================================
-->
<div class="modal-header">

    <h3 class="text-danger"> Are you sure you want to delete this item?</h3>

</div>

<div class="modal-body">


    <div class="row col-sm-offset-4">
        <div class="col-sm-2">
            <button class="btn btn-danger" ng-click="yes()">yes</button>
        </div>
        <div class="col-sm-2">
            <button class="btn btn-default" ng-click="no()">no</button>
        </div>
    </div>


</div>
