<!doctype html>
<!--
	==========================================================================
    FundsXpert

	 Graphical User Interface Programming II
	 Professor Jessie Heines
	 Michael Meding & Jose Flores
	 2015-02-12

	 Starting page for FundsXpert. Does mostly script and css loading.
	 This file also contains the main navigation bar and endpoint of view
	 insertion.
	==========================================================================
-->
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FundsXpert</title>

    <!-- Library Style Sheets -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="assets/css/bootstrap.css">

    <!-- Our Global Style Sheets -->
    <link rel="stylesheet" href="assets/css/main.css">
    <!--Custom validation modal styling-->
    <link rel="stylesheet" href="assets/css/modal.css">

    <!-- Library Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.js"></script>

    <!-- Application Routing/Config Script -->
    <script src="app/app.js"></script>

    <!-- Client Controllers -->
    <script src="app/components/client/faq/faqController.js"></script>
    <script src="app/components/client/home/homeController.js"></script>
    <script src="app/components/client/news/newsController.js"></script>
    <script src="app/components/client/contact/contactController.js"></script>
    <script src="app/components/client/refund/refundController.js"></script>

    <!-- Admin Controllers -->
    <script src="app/components/admin/components/clients/clientsController.js"></script>
    <script src="app/components/admin/components/edit-config/editConfigController.js"></script>
    <script src="app/components/admin/components/find-clients/findClientsController.js"></script>

    <!--Modal Controllers-->
    <script src="app/components/modals/login/loginModalController.js"></script>
    <script src="app/components/modals/register/registerModalController.js"></script>

    <!--Modal Templates-->
    <script type="text/ng-template" src="app/components/modals/login/loginModalTemplate.html"></script>
    <script type="text/ng-template" src="app/components/modals/register/registerModalTemplate.html"></script>



</head>

<body ng-app="fxClient">

<div class="container">
    <!--Main Navigation-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--left side navbar branded image-->
                <a class="navbar-brand" ui-sref="home">
                    <img class="img-responsive" src="assets/img/logo64px.png">
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--Written company name-->
                    <li><h3 class="h3-brand" ui-sref="home">FundsXpert</h3></li>
                    <!--Navbar links-->
                    <li><a ui-sref="home">Home</a></li>
                    <li><a ui-sref="contact">Contact</a></li>
                    <li><a ui-sref="news">News</a></li>
                    <li><a ui-sref="refund">Refund</a></li>
                    <li><a ui-sref="faq">FAQ</a></li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div ng-controller="LoginModalController">
                            <button type="button" class="btn btn-default navbar-btn" ng-click="open()">Login</button>
                        </div>
                    </li>
                    <li>
                        <div ng-controller="RegisterModalController">
                            <button type="button" class="btn btn-warning navbar-btn" ng-click="open()">Register</button>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <!--Angular view insertion-->
    <!--This is where the pages get injected dynamically to-->
    <div ui-view></div>


    <hr>
    <!--The little copyright footer-->
    <footer>
        <p>Copyright &copy; 2015 FundsXpert</p>
    </footer>
</div>


</body>
</html>
