<!--
	==========================================================================
    FundsXpert

	 Graphical User Interface Programming II
	 Professor Jessie Heines
	 Michael Meding & Jose Flores
	 2015-02-12

	==========================================================================
-->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>{{ vm.title }}</h1>

        <form ng-submit="vm.findClientsInRange()">
            <!--TODO: make a working dropdown-->
            <!--<div class="dropdown">-->
                <!--<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">-->
                    <!--{{vm.data.year}}-->
                    <!--<span class="caret"></span>-->
                <!--</button>-->
                <!--<ul class="dropdown-menu" role="menu" ng-repeat="year in vm.years">-->
                    <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="#">{{year}}</a></li>-->
                <!--</ul>-->
            <!--</div>-->

            <div class="form-group">
                <label for="year">Taxing Year</label>
                <input id="year" ng-model="vm.data.year" type="text" class="form-control"
                       placeholder="Taxing Year" autofocus>
            </div>
            <div class="form-group">
                <label for="year">From Value</label>
                <input id="fromValue" ng-model="vm.data.fromValue" type="text" class="form-control"
                       placeholder="From Value" autofocus>
            </div>
            <div class="form-group">
                <label for="toValue">To Value</label>
                <input id="toValue" ng-model="vm.data.toValue" type="text" class="form-control"
                       placeholder="To Value">
            </div>

            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    </div>
</div>