<!--
	==========================================================================
    FundsXpert

	 Graphical User Interface Programming II
	 Professor Jessie Heines
	 Michael Meding & Jose Flores
	 2015-02-12

	==========================================================================
-->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container">
		<h1>HOME PAGE!</h1>
		<p>{{ message }}</p>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
	</div>
</div>