<!--
	==========================================================================
    FundsXpert

	 Graphical User Interface Programming II
	 Professor Jessie Heines
	 Michael Meding & Jose Flores
	 2015-02-12

	==========================================================================
-->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1>{{ vm.title }}</h1>
        </div>

        <div class="row">
            <p>{{ vm.message }}</p>
        </div>

        <div class="row">
                <p><a class="btn btn-primary btn-lg" href="#" role="button" ng-click='vm.gotoRefund()'>Get your
                    refund &raquo;</a></p>
        </div>
    </div>
</div>