<!--
    ==========================================================================
    FundsXpert

     Graphical User Interface Programming II
     Professor Jessie Heines
     Michael Meding & Jose Flores
     2015-02-12

    ==========================================================================
-->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h1>{{ vm.title }}</h1>
        </div>

        <div class="row">
            <p  class = "col-md-6
                         col-xs-12">{{ vm.message }}

                <span class = "col-md-12
                               col-xs-12"
                      style = "text-align:center;
                               padding: 30px 0;">

                    <a class = "col-md-12
                                col-xs-12
                                btn
                                btn-primary
                                btn-lg"
                        href = "#"
                        ng-click = 'vm.gotoRefund()'
                        role = "button"> Get your refund &raquo;</a>

                </span>

            </p>

            <p>
                    <img    class = "col-md-6
                                     hidden-xs"
                            src="{{ vm.image }}" />
            </p>

        </div>

    </div>
</div>
