<!--
    ==========================================================================
    FundsXpert

     Graphical User Interface Programming II
     Professor Jessie Heines
     Michael Meding & Jose Flores
     2015-02-12

    ==========================================================================
-->

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

    <div class="container">

        <h1 class="slideInDown animated">{{ vm.title }}</h1>

        <p class="slideInDown animated">{{vm.message}}</p>

        <div class="panel panel-primary slideInUp animated">

            <!--This email us secion is redundant-->
            <!--<div class="panel-heading">-->
            <!--<h2 style="color:#ffffff">Email Us</h2>-->
            <!--</div>-->

            <div class="panel-body">

                <div class="form-group">

                    <form name="contact-form" novalidate>

                        <!--Alerts-->
                        <div class="alert alert-success" role="alert" ng-show="vm.successAlert">{{vm.successAlertMessage}}</div>
                        <div class="alert alert-danger" role="alert" ng-show="vm.failureAlert">{{vm.failureAlertMessage}}</div>

                        <!--Name-->
                        <div class="form-group">
                            <label for="contact-name">Your Full Name</label>
                            <input class="form-control" id="contact-name" name="contact-name" ng-model="vm.contactName" placeholder="Enter your name" type="text"/>
                        </div>
                        <!--Email-->
                        <div class="form-group">
                            <label for="contact-email">Your Email (username@domain.com)</label>
                            <input class="form-control" id="contact-email" name="contact-email" ng-model="vm.contactEmail" placeholder="Enter your email address" type="email"
                                   required/>
                        </div>
                        <!--Message-->
                        <div class="form-group">
                            <label for="contactMessage">Your Message (optional)</label>
                            <textarea class="form-control" id="contactMessage" name="contactMessage" ng-model="vm.contactMessage"
                                      placeholder="Enter your optional message"></textarea>
                        </div>

                        <a class="col-md-2 col-xs-6 btn btn-lg btn-primary" type="submit"
                           data-ng-click="vm.submitContact()">Submit</a>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
