<!--
    ==========================================================================
    FundsXpert

     Graphical User Interface Programming II
     Professor Jessie Heines
     Michael Meding & Jose Flores
     2015-02-12

    ==========================================================================
-->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

        <h1>{{ vm.title }}</h1>

        <form>
            <div class="form-group">
                <label for="clientSearch">Search Clients</label>
                <!-- string is used to limit results -->
                <input class="form-control"
                       data-ng-model="vm.query"
                       id="clientSearch"
                       placeholder="Enter search string"
                       type="text"/>
            </div>
        </form>

        <div ng-show="vm.alert"
             class="alert alert-danger"
             role="alert">Could not get contacts from database
        </div>

        <table class="table table-striped">

            <tr>
                <thead>
                <!-- table columns allow for sorting -->
                <th></th>
                <th></th>
                <th><a href=""
                       data-ng-click="vm.sortOrder='name'; reverse=!reverse">Name</a></th>

                <th><a href=""
                       data-ng-click="vm.sortOrder='email'; reverse=!reverse">Email</a></th>

                <th><a href=""
                       data-ng-click="vm.sortOrder='message'; reverse=!reverse">Message</a></th>

                <th><a href=""
                       data-ng-click="vm.sortOrder='refundAmount'; reverse=!reverse">Refund Amount</a></th>
                </thead>
            </tr>

            <!-- Added filter and sorting capabilities -->
            <tr ng-repeat="client in vm.userData | filter:vm.searchFilter | orderBy:vm.sortOrder:reverse">
                <td><button ng-controller="deleteModalController" class="btn btn-danger btn-sm" ng-click="open( client , vm.deleteClient )">del</button></td>
                <td><button ng-controller="editModalController" class="btn btn-danger btn-sm" ng-click="open( client , vm.editClient )">edit</button></td>

                <td>{{client.name}}</td>

                <td>{{client.email}}</td>

                <td>{{client.message}}</td>

                <td>{{client.refundAmount}}</td>

            </tr>

        </table>

</div>
