<!--
	==========================================================================
    FundsXpert

	 Graphical User Interface Programming II
	 Professor Jessie Heines
	 Michael Meding & Jose Flores
	 2015-02-12

	==========================================================================
-->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>{{ vm.title }}</h1>

        <div ng-show="vm.alert" class="alert alert-danger" role="alert">Could not get contacts from database</div>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
                <th>Refund Amount</th>
            </tr>
            <tr ng-repeat="client in vm.userData | orderBy:vm.sortOrder">
                <td>{{client.name}}</td>
                <td>{{client.email}}</td>
                <td>{{client.message}}</td>
                <td>{{client.refundAmount}}</td>
            </tr>
        </table>
    </div>
</div>