<!--
    ==========================================================================
    FundsXpert

     Graphical User Interface Programming II
     Professor Jessie Heines
     Michael Meding & Jose Flores
     2015-02-12

    ==========================================================================
-->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron fadeIn animated">
    <h1>{{ vm.title }}</h1>
    <h3>{{vm.message}}</h3>

    <div class="panel panel-primary">
        <div class="panel-heading">
            Add News Article
        </div>
        <div class="panel-body">
            <div class="alert alert-success" role="alert" ng-show="vm.successAlert">Article submitted successfully.
            </div>
            <div class="alert alert-danger" role="alert" ng-show="vm.failureAlert">Failure submitting article.</div>

            <form ng-submit="vm.submitNews()">
                <div class="form-group">
                    <label for="newsTitle">Article Title</label>
                    <input autofocus
                           type="text"
                           class="form-control"
                           id="newsTitle"
                           placeholder="Enter title"
                           ng-model="vm.userData.title"/>

                    <div class="alert alert-danger" role="alert" ng-show="vm.userData.titleMissing">The title is
                        required.
                    </div>
                </div>

                <div class="form-group">
                    <label for="newsText">News Text</label>
                    <textarea class="form-control" id="newsText" name="newsText" placeholder="Enter article body text"
                              ng-model="vm.userData.text"></textarea>
                    <!-- invoke ckeditor -->
                    <script type="text/javascript">
                        CKEDITOR.replace( 'newsText' );
                    </script>

                    <div class="alert alert-danger" role="alert" ng-show="vm.userData.textMissing">The article is
                        required.
                    </div>
                </div>

                <button type="submit" class="btn btn-default">Submit</button>

            </form>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            Current News Articles
        </div>
        <div class="panel-body">
            <div class="alert alert-danger" role="alert" ng-show="vm.getNewsAlert">Failed at getting news articles</div>
            <!--Search filter for table-->
            <form>
                <div class="form-group">
                    <label for="searchFilter">Search News Articles</label>
                    <!-- string is used to limit results -->
                    <input class="form-control"
                           ng-model="searchTerm"
                           id="searchFilter"
                           placeholder="Enter search string"
                           type="text"/>
                </div>
            </form>
            <!--News articles table-->
            <table class="table">
                <tr>
                    <thead>
                    <th></th>
                    <th><a href="" data-ng-click="vm.sortOrder='title'; reverse=!reverse">Title</a></th>
                    <th><a href="" data-ng-click="vm.sortOrder='user'; reverse=!reverse">User</a></th>
                    <th><a href="" data-ng-click="vm.sortOrder='text'; reverse=!reverse">Text</a></th>
                    </thead>
                </tr>
                <tr ng-repeat="item in vm.newsArticles | filter:searchTerm | orderBy:vm.sortOrder">
                    <td>
                        <button ng-controller="deleteModalController" class="btn btn-danger btn-sm" ng-click="open(item , vm.deleteNewsArticle )">del</button>
                        <!--button class="btn btn-danger btn-sm" ng-click="vm.deleteNewsArticle(item)">del</button-->
                    </td>
                    <td>{{item.title}}</td>
                    <td>{{item.user}}</td>
                    <td>{{item.text | limitTo:150}}</td>
                </tr>
            </table>

        </div>
    </div>

    <!--<div class="panel panel-primary">-->
        <!--<div class="panel-heading">-->
            <!--Add New User-->
        <!--</div>-->
        <!--<div class="panel-body">-->
            <!--<div class="alert alert-success" role="alert" ng-show="vm.userAlert">{{vm.userAlertMessage}}</div>-->

            <!--<form ng-submit="vm.submitNewUser()">-->
                <!--<div class="form-group">-->
                    <!--<label for="userTitle">Username</label>-->
                    <!--<input autofocus-->
                           <!--type="text"-->
                           <!--class="form-control"-->
                           <!--id="userTitle"-->
                           <!--placeholder="Enter title"-->
                           <!--ng-model="vm.userData.title"/>-->

                <!--</div>-->

                <!--<button type="submit" class="btn btn-default">Submit</button>-->

            <!--</form>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="panel panel-primary">-->
        <!--<div class="panel-heading">-->
            <!--Current FundsXpert Users-->
        <!--</div>-->
        <!--<div class="panel-body">-->
            <!--<div class="alert alert-danger" role="alert" ng-show="vm.userTableAlert">{{vm.userTableAlertMessage}}</div>-->

            <!--&lt;!&ndash;<h4>Pending Approval</h4>&ndash;&gt;-->

            <!--&lt;!&ndash;<table class="table">&ndash;&gt;-->
                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;<thead>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th></th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>blah</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>blah</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>blah</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;</thead>&ndash;&gt;-->
                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>item</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>item</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>item</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>item</td>&ndash;&gt;-->
                <!--&lt;!&ndash;</tr>&ndash;&gt;-->
            <!--&lt;!&ndash;</table>&ndash;&gt;-->

            <!--<h4>Current Users</h4>-->

            <!--<table class="table">-->
                <!--<tr>-->
                    <!--<thead>-->
                    <!--<th></th>-->
                    <!--<th>Username</th>-->
                    <!--<th>Display Name</th>-->
                    <!--<th>Password</th>-->
                    <!--<th>Email</th>-->
                    <!--</thead>-->
                <!--</tr>-->
                <!--<tr ng-repeat="user in vm.activeUsers">-->
                    <!--<th>-->
                        <!--<button ng-controller="deleteModalController"class="btn btn-danger btn-sm" ng-click="open(user , vm.deleteUser )">del</button>-->
                    <!--</th>-->
                    <!--<td>{{user.username}}</td>-->
                    <!--<td>{{user.name}}</td>-->
                    <!--<td>******</td>-->
                    <!--<td>{{user.email}}</td>-->
                <!--</tr>-->
            <!--</table>-->

            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
</div>
