<!--
	==========================================================================
    FundsXpert

	 Graphical User Interface Programming II
	 Professor Jessie Heines
	 Michael Meding & Jose Flores
	 2015-02-12

	==========================================================================
-->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>{{ vm.title }}</h1>

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 style="color:#ffffff">Add News Article</h2>
            </div>
            <div class="panel-body">
                <div class="alert alert-success" role="alert" ng-show="vm.successAlert">Article submitted successfully.</div>
                <div class="alert alert-danger" role="alert" ng-show="vm.failureAlert">Failure submitting article.</div>

                <form ng-submit="vm.submitNews()">
                    <div class="form-group">
                        <label for="newsTitle">Article Title</label>
                        <input type="text" class="form-control" id="newsTitle" placeholder="Enter title" ng-model="vm.userData.title">
                    </div>
                    <div class="form-group">
                        <label for="newsText">Text</label>
                        <textarea type="text" class="form-control" id="newsText" placeholder="Enter article body text" ng-model="vm.userData.text"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>


    </div>
</div>