<!--
	==========================================================================
    FundsXpert

	 Graphical User Interface Programming II
	 Professor Jessie Heines
	 Michael Meding & Jose Flores
	 2015-02-12

	==========================================================================
-->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>{{ vm.title }}</h1>

        <form>
            <div class="form-group">
                <label for="byName">By Name</label>
                <input id="byName" ng-model="vm.byName" type="text" class="form-control"
                       placeholder="Name" autofocus>
            </div>
            <div class="form-group">
                <label for="byAddress">By Address</label>
                <input id="byAddress" ng-model="vm.byAddress" type="text" class="form-control"
                       placeholder="Address">
            </div>

            <button class="btn btn-primary" ng-click="vm.findClient()">Search</button>
        </form>
    </div>
</div>