/* ==========================================================================
    FundsXpert

     Graphical User Interface Programming II
     Professor Jessie Heines
     Michael Meding & Jose Flores
     2015-02-12

    Custom Global Styles
   ========================================================================== */

/*main page padding*/
body {
    padding-top: 5px;
    padding-bottom: 20px;
}

/*small adjustment to the navbar brand*/
h3.h3-brand {
    padding-right: 30px;
    color: #ffffff;
}

/*ui bootstrap cursor hotfix*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }




/*POSTS*/
div.post {
    background:#fff;
}

div.twitter, div.rss {
      margin: 20px 0;

}

h3.twitter, h3.rss {
    font-size:20px;
    margin:0px;
}

h4.twitter-date,
h4.rss-date {
    font-size:12px;
    margin:0px;

}

p.twitter,
p.rss {
    font-size:20px;
    margin:0 0 10px 0;
}

textarea {
    resize:none ;
}


git







