/* ==========================================================================
    FundsXpert

     Graphical User Interface Programming II
     Professor Jessie Heines
     Michael Meding
     2015-02-12

    Custom Global Styles
   ========================================================================== */

/*main page padding*/
body {
    padding-top: 5px;
    padding-bottom: 20px;
}

/*small adjustment to the navbar brand*/
h3.h3-brand {
    padding-right: 30px;
    color: #ffffff;
}

/*ui bootstrap cursor hotfix*/
.nav, .pagination, .carousel, .panel-title, a , tr {
    cursor: pointer;
}

/*POSTS*/
div.post {
    background: #fff;
}

textarea {
    resize: none;
}


/*Google graph sizes*/
.bigGraph {
    width: 500px;
    height: 500px;
    float: left;
}

.mediumGraph {
    width: 400px;
    height: 400px;
    float: left;
}

.smallGraph {
    width: 200px;
    height: 200px;
    float: left;
}







