/* ==========================================================================
    FundsXpert

	 Graphical User Interface Programming II
	 Professor Jessie Heines
	 Michael Meding & Jose Flores
	 2015-02-12

    Custom Global Styles
   ========================================================================== */

/*main page padding*/
body {
	padding-top: 5px;
	padding-bottom: 20px;
}

/*small adjustment to the navbar brand*/
h3.h3-brand {
    padding-right: 30px;
    color: #ffffff;
}

/*ui bootstrap cursor hotfix*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }



git 







