<!--
    ==========================================================================
    FundsXpert

     Graphical User Interface Programming II
     Professor Jessie Heines
     Michael Meding & Jose Flores
     2015-02-12

    ==========================================================================
-->
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

    <div class="container">

        <h1 class="slideInDown animated">{{ title }}</h1>

        <p class="slideInDown animated">{{ message }}</p>

        <div class="row">
            <div class="alert alert-success" role="alert" ng-show="alertView">
                <div class="row col-lg-offset-1">
                    {{alertMessage}}
                </div>

                <div class="row">
                    <button ng-click="goToContact()" class="btn btn-default col-lg-offset-1 col-lg-5">Contact</button>
                </div>

            </div>
        </div>
        <form ng-show="!alertView" class="slideInUp animated">
            <input ng-model="refundName" class="form-control" type="text" placeholder="Your name or address"
                   autofocus>
            <button ng-click="showAlert(refundName)" type="submit" class="btn btn-default col-lg-3">Search</button>
        </form>


    </div>

</div>